@import url('reset.css');

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/* GLOBAL */
body{
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: #212121;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER */

.header{
    border: 1px solid #ECECEC;
    padding: 25px 0;
}
.header-box{
    display: flex;
    align-items: center;
    
}

.header-menu{
    display: flex;
    gap: 50px;
    margin-left: 90px;
}
.second-menu{
    margin-left: auto;
    display: flex;
    gap: 50px;
}
.header-menu a.active{
    color: #2196F3;
}
.header-menu a,
.second-menu a{
    color: #212121;
    text-decoration: none;
}
.header-menu a:hover,
.second-menu a:hover{
    color: #2196F3;
}

/* MAIN */
/* HERO SECTION */

.hero {
    background: #2F303A;
    text-align: center;
}
.hero-inner {
    min-height: 600px;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 5px;
}
.hero-btn {
    padding: 14px 46px 15px;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background: #2196F3;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    align-self: center;
}
/* ABOUT SECTION */

.about {
    padding: 95px 0;
}
.about-items {
    display: flex;
    gap: 30px;
}
.about-item {
    flex: 1 1 25%;
}
.about-item-title {
    font-weight: 700;
    text-transform: uppercase;
}
.about-item-discript {
    margin: 10px 0 0;
    line-height: 24px;
    color: #757575;
}
/* DO SECTION */

.do {
    text-align: center;
    padding: 0 0 95px ;
}
.do-title {
    font-weight: 700;
    font-size: 36px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.do-imgs {
    display: flex;
    gap: 30px;
}
.do-img {
    flex: 1 1 25%;
    height: 290px;
    object-fit: cover;
}


/* TEAM SECTION */

.teams {
    background: #ECECEC;
    text-align: center;
    padding: 95px 0;
}
.teams-title {
    font-weight: 700;
    font-size: 36px;
    margin: 0 auto;
}
.team-cards {
    padding-top: 50px;
    display: flex;
    gap: 30px;
}
.team-card {
    flex: 1 1 25%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 
        0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team-card-link {
    display: block;
    height: 260px;
}
.team-card-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team-card-inner {
    padding: 30px;
    font-size: 16px;
    background: #FFFFFF;
}
.team-card-title {
    font-weight: 500;
}
.team-card-description {
    color: #757575;
    margin-top: 10px;
}

/* FOOTER */

.footer {
    background: #2F303A;
}
.footer-box {
    padding: 60px 0;
}
.footer-info {
    padding: 20px 0 0;
    color: #FFFFFF;
    display: flex;
    line-height: 24px;
    font-weight: 400;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.footer-info a{
    color: #FFFFFF99;
    text-decoration: none;
}
.address{
    margin: 0;
}
